<tr>
  <td>
    {{#if car.imageUrl}}
      <img class="img-responsive img-thumbnail" src="{{car.imageUrl}}"/>
    {{else}}
      {{url-scraper url=car.url}}
    {{/if}}
  </td>
  <td>
    {{car.year}}
  </td>
  <td>
    {{car.panoramicRoof}}
  </td>
  <td>
    {{car.autoAc}}
  </td>
  <td>
    {{car.leather}}
  </td>
  <td>
    {{car.heatedSeats}}
  </td>
    <td>
    {{car.satNav}}
  </td>
  <td>
    {{car.parkingSensors}}
  </td>
  <td>
    {{car.wheelSize}}
  </td>
</tr>