<tr>
  <td>
    {{#if car.imageUrl}}
      <img class="img-responsive img-thumbnail" src="{{car.imageUrl}}"/>
    {{else}}
      {{url-scraper url=car.url}}
    {{/if}}
  </td>
  <td>
    {{display-string model=car value="year"}}
  </td>
  <td>
    {{display-yesno model=car value="panoramicRoof"}}
  </td>
  <td>
    {{display-yesno model=car value="autoAc"}}
  </td>
  <td>
    {{display-yesno model=car value="leather"}}
  </td>
  <td>
    {{display-yesno model=car value="heatedSeats"}}
  </td>
    <td>
    {{display-yesno model=car value="satNav"}}
  </td>
  <td>
    {{display-yesno model=car value="parkingSensors"}}
  </td>
  <td>
    {{display-string model=car value="wheelSize"}}
  </td>
</tr>