<tr>
  <td>
    <a href="{{car.url}}" target="_blank">
      {{#if car.imageUrl}}
        <img class="img-responsive img-thumbnail" src="{{car.imageUrl}}"/>
      {{else}}
        {{url-scraper url=car.url updateAction="updateImage"}}
      {{/if}}
      <p>
        <button class="btn btn-danger" {{action "remove"}}>
          <i class="glyphicon glyphicon-remove">Remove</i>
        </button>
      </p>
    </a>
  </td>
  <td>
    {{display-string model=car value="regNumber"}}
  </td>
  <td>
    {{display-string model=car value="mileage" isNumber=true}}
  </td>
  <td>
    {{display-string model=car value="year"}}
  </td>
  <td>
    {{display-yesno model=car value="panoramicRoof"}}
  </td>
  <td>
    {{display-yesno model=car value="leather"}}
  </td>
  <td>
    {{display-yesno model=car value="heatedSeats"}}
  </td>
    <td>
    {{display-yesno model=car value="satNav"}}
  </td>
  <td>
    {{display-yesno model=car value="parkingSensors"}}
  </td>
  <td>
    {{display-string model=car value="wheelSize"}}
  </td>
    <td>
    {{display-string model=car value="warranty"}}
  </td>
    <td>
    {{display-string model=car value="price" isNumber=true}}
  </td>
  <td>
    {{display-string model=car value="extraDetails"}}
  </td>
</tr>