{{#if isEditing}}
  {{input class="input-edit" value=cell.value enter='edit'}}
  <button class="btn btn-flat" {{action 'edit'}}>
    <i class="glyphicon glyphicon-ok"></i>
  </button>
{{else}}
  <button class="btn btn-flat btn-lg" {{action 'toggleEditing'}}>
    {{#if isNumber}}
        {{format-number cell.value format="0,0"}}
      {{else}}
        {{cell.value}}
    {{/if}}
  </button>
{{/if}}
